@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.text{
  background-color:rgb(13,110,253);
  color: white;
  height: fit-content;
  width: auto;
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}
body{
  font-family: 'Poppins', sans-serif;
}